
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#img1{
    width: 20%;
    height: auto;
}

h2{
    text-align: center;
    font-weight: bold;
    text-decoration: overline;
}

div{
    text-align: center;
}

.column {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
  }